/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Ubuntu', sans-serif;
body {
  margin: 0;
  mat-form-field.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-raised-button {
    margin-top: 10px;
  }
}
.landing-wrapper {
  display: flex;
  height: 100vh;
  margin: 0;

  .landing-left {
    width: 35%;
    .auth-form-wrapper {
      margin: 30% 25%;
    }
    h2 {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }
  }
  .landing-right {
    width: 65%;
    background: url('../src/assets/img/ch.jpg') no-repeat;
    background-size: cover;
  }
}