/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~ngx-toastr/toastr.css';
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Ubuntu', sans-serif;
body {
  margin: 0;
  :focus{
    outline: none !important;
  }
  mat-form-field.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  mat-list-item {
    :hover {
      background: #4f3e70;
      cursor: pointer;
    }
  }
  mat-accordion {
    width: 100%;
    .mat-expansion-panel {
      background: #443266;
      .mat-expansion-panel-header-title,
      .mat-expansion-panel-header-description {
        color: #ffffff;
      }
      .mat-form-field-empty.mat-form-field-label {
        color: white;
    }
    .mat-form-field-underline {
      background-color: white !important;
  }
    mat-form-field {
      color: white;
    }
    }
    mat-panel-title {
      flex: 1 1 auto;
      width: 80%;
    }
  }
  .mat-tab-labels {
    background: #4f3e70;
    .mat-tab-label-content{
      color: white;
    }
  }
  .mat-list-icon{
    color: white !important;
  }
  .mat-raised-button {
    margin-top: 10px;
  }
}
.landing-wrapper {
  display: flex;
  height: 100vh;
  margin: 0;

  .landing-left {
    width: 35%;
    .auth-form-wrapper {
      margin: 30% 25%;
    }
    h2 {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }
  }
  .landing-right {
    width: 65%;
    background: url('../src/assets/img/ch.jpg') no-repeat;
    background-size: cover;
  }
}
@media only screen and ( max-width: 600px) {
  .landing-wrapper {
    .landing-left {
      width: 100%;
    }
    .landing-right {
      display: none;
    }
  }
}